<h1>Hello Angular 17</h1>
<div class="container">
    <!--Expression Binding-->
    <div class="alert alert-primary">
        {{name}}
    </div>
    <!--Property Binding-->
    <div class="alert alert-primary">
        <input type="text" [value]="name" class="form-control"/>
    </div>

    <!--Event Binding-->
    <div class="alert alert-dark">
        <input type="button"  class="btn btn-danger" (click)="changeName()" value="Change Name"/>
    </div>
  <!--two-way binding-->
    <div class="alert alert-success">
        <input type="text" [(ngModel)]="name" class="form-control"/>
        <br/>
        <input type="text" [(ngModel)]="name" class="form-control"/>
        <br/>
        <input type="text" [(ngModel)]="name" class="form-control"/>
    </div>

    <div class="alert alert-warning">
        Showing List of Actors:
        <select class="form-control">
            <option *ngFor="let actor of actors" value="{{actor}}">{{actor}}</option>
        </select>
    </div>

    <div class="alert alert-warning">
        Showing List of NAme using  for:
        <select class="form-control">
            @for (n of names; track $index) {
                <option  value="{{n}}">{{n}}</option>
            }
        </select>
    </div>

</div>