<h1>The Angular Simple Calculator</h1>

<div class="container">
  <div class="form-group">
    <label>X</label>
    <input type="text" class="form-control" [(ngModel)]="x">
  </div>
  <div class="form-group">
    <label>Y</label>
    <input type="text" class="form-control" [(ngModel)]="y">
  </div>
  <div class="form-group">
    <label>Result</label>
    <input type="text" class="form-control" [(ngModel)]="result">
  </div>
  <div class="btn-group-lg">
     <button class="btn btn-warning" (click)="clear()">Clear</button>
     <button class="btn btn-success" (click)="add()">Add</button>
  </div>
</div>
