<h2>Login Component</h2>

<table class="table table-bordered table-striped">
   <tbody>
      <tr>
          <td>User Name (Email): </td>
          <input type="text" class="form-control">
      </tr>
      <tr>
        <td>Password: </td>
        <input type="password" class="form-control">
      </tr>
   </tbody>
   <tfoot>
     <tr>
       <td>
          <button  class="btn btn-warning">Clear</button>
       </td>
       <td>
          <button  class="btn btn-success">Login</button>
     </td>
     </tr>
   </tfoot>
</table>
