<h2>Login Component</h2>

<table class="table table-bordered table-striped">
   <tbody>
      <tr>
          <td>User Name (Email): </td>
        <td>  <input type="text" class="form-control" [(ngModel)]="user.Email"></td>
      </tr>
      <tr>
        <td>Password: </td>
        <td>  <input type="password" class="form-control" [(ngModel)]="user.Password"></td>
      </tr>
   </tbody>
   <tfoot>
     <tr>
       <td>
          <button  class="btn btn-warning">Clear</button>
       </td>
       <td>
          <button  class="btn btn-success" (click)="login()">Login</button>
     </td>
     </tr>
   </tfoot>
</table>
